# import relevant generic methods
importFrom("graphics", plot)
importFrom("isotone", gpava)
import(methods)

# export the new S4 methods
exportMethods("plot")

# export new S4 classes
exportClasses("ece", "compcovar", "compitem")

# export the new S3 functions
export("calc.ece", "two.level.density.LR", "two.level.normal.LR", "two.level.lindley.LR", "two.level.comparison.items", "two.level.components") 



